Source: td-build-tools
Section: utils
Priority: optional
Maintainer: Thomas Dreibholz <thomas.dreibholz@gmail.com>
Homepage: https://www.nntb.no/~dreibh/build-tools/
Vcs-Git: https://github.com/dreibh/build-tools.git
Vcs-Browser: https://github.com/dreibh/build-tools
Build-Depends: cmake,
               debhelper (>= 12)
Standards-Version: 4.7.1
Rules-Requires-Root: no

Package: td-build-tool
Architecture: all
Depends: blhc,
         build-essential,
         debhelper,
         debian-archive-keyring,
         debian-ports-archive-keyring,
         distro-info,
         gnupg2,
         pbuilder,
         pigz,
         python3,
         python3-distro,
         qemu-system,
         qemu-user-static,
         reprepro,
         ${misc:Depends}
Recommends: licenserecon,
            rpm,
            rpmlint,
            td-system-info,
            td-system-maintenance
Description: Build Tool
 Build Tool is a tool to help creating and maintaining package
 builds for Debian/Ubuntu, Fedora, FreeBSD and other systems.
 It performs the following tasks:
 creating a source tarball,
 creating a source package (Debian/Ubuntu, Fedora, etc.),
 building binary packages from the source package (including
 cross-architecture builds).

Package: td-version-bump
Architecture: all
Depends: python3,
         ${misc:Depends}
Recommends: td-build-tool
Description: Version Bump
 Version Bump is a tool to help creating versioned packages
 with Git and Build Tool.

Package: td-build-tools
Architecture: all
Depends: td-build-tool,
         td-version-bump,
         ${misc:Depends}
Recommends: td-system-tools
Description: Metapackage for build tools
 This package is a metapackage for the build tools.
